.ant-layout {
    min-height: 100vh;
}

.ant-layout-sider-children,
.ant-layout-sider-trigger {
    background-color: #fff;
    color: #5f5f5f;
}

.global-translate-icon {
    color: #8422ad;
}

.footer-page span {
    background-color: #fff;
    color: #5f5f5f;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout-header {
    padding: 0 35px !important;
}

.ant-image-mask-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-upload-list-item-actions,
.ant-upload-list-item-actions a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-link {
    border: 1px solid #dee2e6;
    padding: 5px;
}

.ant-layout-sider-trigger svg {
    display: none;
}

.show-more {
    position: relative;
}

.show-more:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%);
}

/* =========== set red border for react quill text editor when error =========== */
.react-quill-error .ql-toolbar {
    border-top: 1px solid #ff4d4f !important;
    border-left: 1px solid #ff4d4f !important;
    border-right: 1px solid #ff4d4f !important;
}

.react-quill-error .ql-container {
    border-bottom: 1px solid #ff4d4f !important;
    border-left: 1px solid #ff4d4f !important;
    border-right: 1px solid #ff4d4f !important;
}

/* ==================== ANTD CUSTOMIZE FILTER ==================== */
.customize-filter .custom-checkbox:hover {
    background-color: #dddddd;
}

.customize-filter .menu-items-status {
    text-decoration: double;
}

.customize-filter .ant-checkbox-group {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dddddd;
}

.customize-filter .ant-checkbox-group>* {
    margin: 0;
    padding: 6px 8px;
    margin-top: 5px;
}

.customize-filter .ant-checkbox-group>*:last-child {
    margin-bottom: 5px;
}

.customize-filter .ant-checkbox-group>*:hover {
    background-color: #dddddd;
}

.ant-col .ant-form-item-label {  /*Điều chỉnh kích thước lable seach form*/
    flex: none !important;
    width: 112px
}

/* ==================== ANTD MESSAGE ALERT ==================== */
.ant-message {
    display: flex;
    justify-content: center;
}

.ant-message div {
    display: flex;
    align-items: center;
}

/* ==================== SIDE BAR ==================== */
#side-bar {
    flex: 0 0 250px !important;
    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
    transition: all 0.5s;
}

#side-bar .ant-layout-sider-trigger {
    width: 250px !important;
}

/* closed size */
#side-bar.ant-layout-sider-collapsed {
    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;
}

#side-bar.ant-layout-sider-collapsed .ant-layout-sider-trigger {
    width: 80px !important;
}

#side-bar .logo {
    height: 40px;
    margin: 16px 10px;
    /* background: white; */
}

#side-bar .logo.h-50 {
    height: 50px !important;
}

#side-bar .ant-layout-sider-children {
    height: calc(100% - 48px);
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width: 250px;
    transition: all 0.2s;
}

#side-bar.ant-layout-sider-collapsed .ant-layout-sider-children {
    width: 80px;
}

.btnCreate,
.btnSaveDraft,
.btnReset {
    width: 90%;
}

.btnSaveDraft {
    border: 1px solid #607d8b;
}

.btnContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==================== HEADER ==================== */
#header-layout {
    background: #fff;
}

.ant-layout-header {
    background-color: #fff !important;
    padding: 0 !important;
}

.avatarBtn::after {
    box-shadow: none !important;
}

.avatarIcon {
    width: 40px;
    height: 40px;
    /* padding: 5px !important; */
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #701e87;
}

#header-menu-dropdown {
    max-width: 400px !important;
    width: 350px !important;
    min-height: 300px !important;
    margin-top: 22px !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#header-menu-dropdown .ant-dropdown-menu-item:hover {
    background-color: transparent;
    cursor: unset;
}

#header-menu-dropdown .account-manager {
    color: #3c4043;
    border: 1px solid #dadce0;
    height: auto;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: normal;
    border-radius: 100px;
    box-sizing: border-box;
    margin: 20px 0;
    max-width: 90%;
    outline: 0;
    /* padding: 10px 15px; */
}

#header-menu-dropdown .account-manager span {
    display: flex;
    align-items: center !important;
    padding: 10px 5px;
}

#header-menu-dropdown .account-manager:hover {
    background-color: #eef0f1f8;
    border: 1px solid #dadce0;
}

#header-menu-dropdown .account-manager:focus {
    border: 1px solid #dadce0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#header-menu-dropdown .btn-logout {
    color: #3c4043;
    border: 1px solid #dadce0;
    border-radius: 10px;
    box-sizing: border-box;
    width: 80%;
    max-width: 100%;
    outline: 0;
    padding: 20px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-menu-dropdown .btn-logout:hover {
    background-color: #eef0f1f8;
    border: 1px solid #dadce0;
}

#header-menu-dropdown .btn-logout:focus {
    border: 1px solid #dadce0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* =========================================== PROJECT LIST ALL ========================================= */
#list-all-data-table .table-btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#project-status .ant-tag.ant-tag-has-color {
    width: 100px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-status .status-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.site-layout-background {
    padding: 24px 0 !important;
}

/* ======================================= CREATE NEW PROJECT ======================================= */
#create-new-project .required-label label:first-child::before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

#create-new-project .react-quill-error .ql-toolbar {
    border-top: 1px solid #ff4d4f;
    border-left: 1px solid #ff4d4f;
    border-right: 1px solid #ff4d4f;
}

#create-new-project .react-quill-error .ql-container {
    border-bottom: 1px solid #ff4d4f;
    border-left: 1px solid #ff4d4f;
    border-right: 1px solid #ff4d4f;
}

/* ======================================= DETAILS PROJECT ================================================= */
.projectDetail img {
    max-width: 100% !important;
}

.sectionDetails img {
    max-width: 100% !important;
}

.sectionDetails {
    border: 1px solid #dee2e6;
}

/* ======================================= EDIT PROJECT ================================================= */
/* #edit-project {
    max-width: 100%;
    width: 100%;
    min-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
} */

.projectOverview .text-title {
    border-bottom: 2px solid #6b2c91;
}

/* ======================================= REAL ESTATE LIST ALL ========================================= */
.real-estate-tab-list .ant-tabs-nav {
    margin-bottom: 0;
}

.real-estate-tab-list .ant-tabs-tab {
    margin: 0;
    width: 200px;
    display: flex;
    justify-content: center;
}

.real-estate-tab-list .ant-tabs-tab .ant-tabs-tab-btn {
    font-weight: 500;
}

.real-estate-tab-list .ant-tabs-tab:hover {
    background-color: #fff;
}

.real-estate-tab-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #6b2c91;
    text-shadow: 0 0 0.25px currentcolor;
}

.real-estate-tab-list .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    position: absolute;
    background: #6b2c91;
    pointer-events: none;
}

.create-new-estate-btn {
    align-items: center;
}

/* ======================================= CREATE NEW REAL ESTATE ======================================= */
#create-new-real-estate {
    background-color: #fff;
    padding: 25px;
}

#create-new-real-estate .required-label label:first-child::before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

#create-new-real-estate .ql-editor {
    min-height: 150px !important;
    max-height: 150px;
}

#create-new-real-estate input::-webkit-outer-spin-button,
#create-new-real-estate input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/* ======================================= DEMO VIEW ======================================= */
#demo-view .title,
.modal-preview-details .title {
    color: #58595b;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.5;
}

#demo-view .bottom-button,
.modal-preview-details .bottom-button {
    color: #701e87;
    border: 1px solid #701e87;
    border-radius: 4px;
    padding: 10px 20px;
    background: #fff;
    width: 208px;
    /* height: 50px; */
}

#demo-view .post,
.modal-preview-details .modal-preview-details {
    background: #701e87;
    color: #fff;
}

#demo-view .view-more-button,
.modal-preview-details .view-more-button {
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #9e0096 0%, #600681 100%);
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
    color: #fff;
    font-weight: 500;
}

#demo-view .box-body,
.modal-preview-details .box-body {
    overflow-y: hidden;
    max-height: 200px;
}

/* =================== CUSTOMIZED UNDERLINE TEXT ANH TIT =================== */
.textHasUnderline {
    margin-bottom: 50px;
    color: #670374;
    text-transform: uppercase;
    position: relative;
}

.textHasUnderline:after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: linear-gradient(to right, #600681 0%, #9e0096 100%);
    margin: 8px 0 0;
}

.textHasUnderline.text-center:after {
    margin: 8px auto 0;
}

.categories-select-group {
    justify-content: space-around;
    align-items: flex-end;
}

/* =======================================LIST ALL NEWS REAL ESTATE ======================================*/
#real-state-list-all .ant-tag,
.ant-tag-has-color,
.real-estate-type-tag {
    width: 70px !important;
    text-align: center !important;
}

#real-estate-status .ant-tag.ant-tag-has-color {
    width: 100px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#real-estate-status .status-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#real-state-list-all .ant-col,
.real-estate-date-time {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #000 !important;
}

.real-estate-price {
    width: 200px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #000 !important;
}

#real-estate-list-all .ant-pro-card-title,
.more-info-real-estate {
    width: 300px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #000 !important;
}

/* ======================================= SOCIAL POST LIST ======================================*/
#all-social-posts .ant-input-clear-icon {
    display: flex;
    align-items: center;
}

/* ======================================= PREVIEW-POST ======================================*/
#preview-post .bottom-button {
    color: #701e87;
    border: 1px solid #701e87;
    border-radius: 4px;
    padding: 10px 20px;
    background: #fff;
    width: 208px;
}

#preview-post .bottom-button:hover {
    color: #fff;
    background: #701e87;
    transition: background-color 0.3s linear;
}

/* ======================================= CREATE NEW SOURCE ======================================*/

/* ======================================= Text editor ======================================*/
#create-new-project .ql-editor {
    min-height: 250px !important;
    max-height: 250px;
}

/* ======================================= SEO ======================================*/
#SEO-all-data .edit-button,
#JSON-all-data .edit-button {
    background: linear-gradient(90deg, rgba(92, 45, 145, 1) 0%, rgba(129, 41, 144, 1) 50%, rgba(163, 35, 142, 1) 100%);
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    color: white;
}

#SEO-all-data .edit-button:hover,
#JSON-all-data .edit-button:hover {
    background: linear-gradient(90deg, rgb(117, 58, 185) 0%, rgb(167, 54, 187) 50%, rgb(199, 43, 173) 100%);
}

.SEO-modal-form .ql-editor {
    min-height: 100px !important;
    max-height: 100px;
}

.ant-tooltip-inner {
    white-space: pre-line;
}

/* ======================================= CREATE NEW NEWS PRO ======================================*/
.create-news-page .category-select .ant-form-item-control {
    width: 552px;
}

.edit-news-page .category-select .ant-form-item-control {
    width: 437px;
}

@media (max-width: 665px) {

    /* ======================================= CREATE NEW NEWS PRO ======================================*/
    .create-news-page .category-select .ant-form-item-control,
    .edit-news-page .category-select .ant-form-item-control {
        width: 100%;
    }
}